{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["frontend/**/*.{js,jsx,ts,tsx,html}"],
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
